h1  add user
div(style="padding: 10px 10px 10px;")
 form(class="form-horizontal" name="adduser_form" method="POST" action="/addsearchuser")
   p
     div(class="form-group")
       div(class="row")
        label(class="col-lg-1 control-label" for="name") name:
        div(class="col-lg-3")
         input(class="form-control" id="name" name="name" type="text" value="name")
   p
     div(class="form-group")
       div(class="row")
        label(class="col-lg-1 control-label" for="age") age:
        div(class="col-lg-3")
         input(class="form-control" id="age" name="age" type="number" value=18)
   p
     div(class="form-group") 
      div(class="row")
       div(class="col-lg-offset-1 col-lg-3")
        button(type="button" class="btn btn-default")              
          span(class="glyphicon glyphicon-plus")
          input(class="form-control" type="submit"  name="adduser" value="增加") 
        button(type="button" class="btn btn-default")       
          span(class="glyphicon glyphicon-check")  
          input(class="form-control" type="submit"  name="searchuser" value="查找")
