extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 按钮
  btn-group
  button(type="button" class="btn btn-default")  AAA
  button(type="button" class="btn btn-primary")   bbb
  button(type="button" class="btn btn-success")  success
  button(type="button" class="btn btn-info")  info
  button(type="button" class="btn btn-warning")  warning
  button(type="button" class="btn btn-danger")  danger
  h3 字体示例
  p
  button(type="button" class="btn btn-info")  
   span(class="glyphicon glyphicon-sort-by-attributes")
  button(type="button" class="btn btn-info")  
   span(class="glyphicon glyphicon-sort-by-attributes-alt")
  button(type="button" class="btn btn-info")  
   span(class="glyphicon glyphicon-sort-by-order")
  button(type="button" class="btn btn-info")  
   span(class="glyphicon glyphicon-sort-by-order-alt")
  p 
  button(type="button" class="btn btn-default btn-lg")       
   span(class="glyphicon glyphicon-user")  User
  button(type="button" class="btn btn-default btn-sm")       
   span(class="glyphicon glyphicon-user")  User
  button(type="button" class="btn btn-default btn-xs")       
   span(class="glyphicon glyphicon-user")  User  